<li>
  <span class="teaser"><%= article.teaser %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(article.created_at) %> ago.
  </span>
  <% if current_user?(article.user) %>
    <%= link_to "delete", article, method: :delete,
				   data: { confirm: "Are you sure?" },
				   title: article.teaser %>
  <% end %>
</li>